In [1]:
from sklearn.datasets import fetch_covtype, make_classification
import pandas as pd

In [2]:
data, y = fetch_covtype(return_X_y=True)

In [3]:
print(type(data))

<class 'numpy.ndarray'>

In [4]:
df = pd.DataFrame(data)

In [5]:
df.head()

,0,1,2,3,4,5,6,7,8,9,...,44,45,46,47,48,49,50,51,52,53
0,2596.0,51.0,3.0,258.0,0.0,510.0,221.0,232.0,148.0,6279.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,2590.0,56.0,2.0,212.0,-6.0,390.0,220.0,235.0,151.0,6225.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,2804.0,139.0,9.0,268.0,65.0,3180.0,234.0,238.0,135.0,6121.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,2785.0,155.0,18.0,242.0,118.0,3090.0,238.0,238.0,122.0,6211.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,2595.0,45.0,2.0,153.0,-1.0,391.0,220.0,234.0,150.0,6172.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [6]:
df.shape

(581012, 54)

In [7]:
# df.to_csv('large_dataset.csv')

In [14]:
X, y = make_classification(
    n_samples=10_000_000,
    n_features=20,
    n_redundant=2,
    n_repeated=0,
    n_classes=2,
    n_clusters_per_class=2,
    flip_y=0.01,
    random_state=42
)

In [15]:
type(X)

numpy.ndarray

In [16]:
df = pd.concat([pd.DataFrame(X), pd.Series(y)], axis=1)

In [17]:
df.to_csv('larger_dataset.csv')